a,
button,
input[type='checkbox'],
input[type='radio'],
input[type='file'],
.btn,
summary,
[tabindex]:where(:not([tabindex='-1'])) {
  @apply rounded-lg outline-4 outline-offset-4 outline-blue-300 outline-none focus-visible:outline-solid;
}

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

img {
  @apply pointer-events-none;
}

svg {
  @apply shrink-0 fill-current;
}

/* Scroll */
::-webkit-scrollbar {
  @apply size-[1.125rem];
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

::-webkit-scrollbar-track {
  border: solid 6px transparent;
  @apply shadow-primary-bg rounded-full shadow-[inset_0_0_10px_10px];
}

::-webkit-scrollbar-thumb {
  border: solid 6px transparent;
  @apply shadow-primary hover:shadow-primary-active rounded-full shadow-[inset_0_0_10px_10px];
}
