:root {
  --body-padding-inline: --spacing(2);
  --container-max-width: 32rem; /* 512px */

  /* Текст */
  /* Размер текста */
  --headline-large-font-size: var(--text-2xl);
  --headline-large-line-height: var(--text-2xl--line-height);
  --headline-medium-font-size: var(--text-xl);
  --headline-medium-line-height: var(--text-xl--line-height);
  --headline-small-font-size: var(--text-lg);
  --headline-small-line-height: var(--text-lg--line-height);

  /* Цвет текста */
  --text-title-color: var(--color-base-800);
  --text-main-color: var(--color-base-800);
  --text-secondary-color: var(--color-base-600);
  --text-tertiary-color: var(--color-base-400);
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
  }
}

html {
  @apply max-w-full scroll-pt-10 bg-transparent motion-safe:scroll-smooth;
}

body {
  @apply surface-default font-body min-h-dvh max-w-full text-base font-normal;
}
