:root {
  --body-padding-inline: theme("spacing.2");
  --container-max-width: 32rem; /* 512px */

  /* Текст */

  --font-title: "Nunito", "sans-serif";
  --font-body: "Nunito", "sans-serif";
  --font-weight-default: 400;

  --h1-font-size: theme("fontSize.2xl[0]");
  --h1-line-height: theme("fontSize.2xl[1]");
  --h2-font-size: theme("fontSize.xl[0]");
  --h2-line-height: theme("fontSize.xl[1]");
  --h3-font-size: theme("fontSize.lg[0]");
  --h3-line-height: theme("fontSize.lg[1]");

  --text-title-color: theme("colors.base.800");
  --text-primary-color: theme("colors.base.800");
  --text-secondary-color: theme("colors.base.600");
  --text-tertiary-color: theme("colors.base.400");
  --text-accent-color: theme("colors.primary.DEFAULT");

  /* --surface-bg: theme("colors.white"); */
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    transition-delay: 0.001ms !important;
  }
}

html {
  @apply max-w-full scroll-pt-10 bg-transparent motion-safe:scroll-smooth;
}

body {
  @apply surface-default min-h-dvh max-w-full font-body text-base font-[--font-weight-default];
}
