/* Headline */
@utility headline-large {
  font-size: var(--headline-large-font-size);
  line-height: var(--headline-large-line-height);
  @apply font-title text-txt-title text-lg font-semibold;
}
@utility headline-medium {
  font-size: var(--headline-medium-font-size);
  line-height: var(--headline-medium-line-height);
  @apply font-title text-txt-title text-lg font-semibold;
}
@utility headline-small {
  font-size: var(--headline-small-font-size);
  line-height: var(--headline-small-line-height);
  @apply font-title text-txt-title text-lg font-semibold;
}

/* Label */
@utility label-large {
  color: var(--text-title-color);
  @apply font-title text-lg font-bold;
}
@utility label-medium {
  color: var(--text-title-color);
  @apply font-title text-base font-bold;
}
@utility label-small {
  color: var(--text-title-color);
  @apply font-title text-sm font-bold;
}
