.surface-default,
.surface-low,
.surface-accent-light {
  --text-title-color: theme("colors.base.800");
  --text-primary-color: theme("colors.base.800");
  --text-secondary-color: theme("colors.base.600");
  --text-tertiary-color: theme("colors.base.400");
  --text-accent-color: theme("colors.primary.DEFAULT");
  @apply text-primary-color;
}

.surface-default {
  @apply bg-white;
}

.surface-low {
  @apply bg-base-bg;
}

.surface-accent-light {
  @apply bg-primary-bg;
}

.surface-accent,
.surface-accent-secondary,
.surface-green,
.surface-yellow,
.surface-red {
  --text-title-color: theme("colors.white");
  --text-primary-color: theme("colors.white");
  @apply text-primary-color;
}

.surface-accent {
  @apply bg-gradient-to-b from-primary-lowGradient to-primary-highGradient;
}

.surface-accent-secondary {
  @apply bg-primary;
}

.surface-green {
  @apply bg-gradient-to-b from-green-lowGradient to-green-highGradient;
}

.surface-yellow {
  @apply bg-gradient-to-b from-yellow-lowGradient to-yellow-highGradient;
}

.surface-red {
  @apply bg-gradient-to-b from-red-lowGradient to-red-highGradient;
}
