@theme {
  --animate-blink: blink 300ms ease-in-out forwards;
  @keyframes blink {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
  }

  --animate-showModal: showModal 300ms ease-in-out forwards;
  @keyframes showModal {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-hideModal: hideModal 300ms ease-in-out forwards;
  @keyframes hideModal {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  --animate-showBackdrop: showBackdrop 300ms ease-in-out forwards;
  @keyframes showBackdrop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-hideBackdrop: hideBackdrop 300ms ease-in-out forwards;
  @keyframes hideBackdrop {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
