@theme {
  --spacing: 0.5rem; /* 8px (default 4px) */

  /* Шрифты */
  --font-title: Nunito, system-ui;
  --font-body: Nunito, system-ui;

  /* Размеры текста */
  --text-3xl: 2rem; /* 32px */
  --text-3xl--line-height: 2.5rem; /* 40px */
  --text-4xl: 2.5rem; /* 40px */
  --text-4xl--line-height: 3rem; /* 48px */
  --text-5xl: 3rem; /* 48px */
  --text-5xl--line-height: 3.5rem; /* 56px */

  /* Цвета */
  --color-primary: #42a66a;
  --color-primary-active: #2e7349;
  --color-primary-highGradient: #38bda1;
  --color-primary-lowGradient: #90dc7b;
  --color-primary-bg: #edfaf2;

  --color-base-800: #333840;
  --color-base-600: #58606e;
  --color-base-400: #8e99ab;
  --color-base-borders: #c8d1e0;
  --color-base-bg: #f5f7fa;

  --color-system-error: #de1b1b;
  --color-system-positive: #38bda1;

  --color-green-highGradient: #38bda1;
  --color-green-lowGradient: #90dc7b;

  --color-yellow-highGradient: #f59d22;
  --color-yellow-lowGradient: #fad843;

  --color-red-highGradient: #f53422;
  --color-red-lowGradient: #fa7d43;

  --color-pink-highGradient: #ff6ba2;
  --color-pink-lowGradient: #ffa1a1;

  /* Тени */
  --shadow-sm: 0 2px 6px -2px rgb(0 0 0 / 0.2);
  --shadow-md: 0 2px 8px -2px rgb(0 0 0 / 0.2);
  --shadow-md-active: 0 2px 8px 0 rgb(0 0 0 / 0.2);
  --shadow-glow: 0 0 8px -2px rgb(0 0 0 / 0.2);
}

@theme inline {
  --color-txt-title: var(--text-title-color);
  --color-txt-main: var(--text-main-color);
  --color-txt-secondary: var(--text-secondary-color);
  --color-txt-tertiary: var(--text-tertiary-color);
}
